* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgb(238, 223, 223);
    background-image: url("vista_wallpapers\ \(1\).jpg");
    background-size: cover;
    backdrop-filter: blur(40px);
    width: 100vw;
    flex-direction: column;

}

@font-face {
    font-family: arialRound;
    src: url("fonts/ARLRDBD.TTF") format("truetype");
}

@font-face {
    font-family: Rubik;
    src: url("fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: verela;
    src: url("fonts/VarelaRound-Regular.ttf") format("truetype");
}

@font-face {
    font-family: patron;
    src: url("fonts/PatronPersonalUseRegular-ywy4Y.ttf") format("truetype");
}

.welcome {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: #2f1c1c;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.navbar {
    background: linear-gradient(to left, #d25d35, #553131);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    width: 100vw;
    position: sticky;
    box-shadow: 0 2px 20px -1px rgb(9, 8, 8);
    color: white;
    top: 0;
    flex-direction: row;
    z-index: 9;
}
#hometab{
    cursor: pointer;
}
.im1 {
    filter: invert(100%);
    height: 30px;
    padding-right: 10px;
}

.logo {
    display: flex;
    width: fit-content;
    padding-left: 15px;
}

.logo img {
    height: 50px;
}

.nav1 {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: arialRound;
    width: fit-content;
    padding-right: 15px;
}

#myInput {
    width: 35vw;
    height: 16px;
    margin: 30px;
    border: none;
    color: #886d6d;
    padding-left: 35px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 40px -2px rgb(255, 0, 0);
    background: #d8f4ff;
    font-family: verela;
}

.searchcl {
    position: relative;
}

#myInput:focus {
    color: #ddbaba;
}

.find {
    position: absolute;
    top: 31px;
    left: 35px;
    height: 25px;
    opacity: 50%;
}


main {
    display: flex;
    flex-direction: column;
}

/* slider */
.container1 {
    height: fit-content;
    overflow: hidden;
}

.wrapper {
    width: fit-content;
    display: flex;
    animation: slide 45s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-33.33%);
    }

    66.66% {
        transform: translateX(-66.66%);
    }
}

.sliderimg1,
.sliderimg2,
.sliderimg3 {
    width: 100vw;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: verela;

}

.sliderimg1 p,
.sliderimg2 p,
.sliderimg3 p {
    font-size: 40px;
    color: whitesmoke;
    margin-right: 35rem;

}

#sliderimg2 {
    color: red;
}

#author {
    font-size: 15px;
}

.sliderimg1 {
    background-image: url('1366x483-340227-Digital-Art-Chill-Chilling-Out-Lofi.jpg');
}

.sliderimg2 {
    background-image: url('1366x483-342300-Digital-Art-Lofi-Chill-Bedroom-Raccoon.jpg')
}

.sliderimg3 {
    background-image: url('1366x483-903110-metalanguage-digital-art-Chill-Out-LoFi-music-guitar.jpg');
}

/* slider close */


.home {
    display: flex;
    flex-direction: column;
    font-family: Rubik;
    overflow-y: scroll;
    align-items: center;
    height: 27rem;
    margin: 60px 0px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 84vw;
}

.hometext {
    margin-bottom: 20px;
    font-size: 3rem;
    color: #e3b5b5;
    text-shadow: 0px 5px 12px #0f0d0d96;
}

.lofi,
.trending {
    height: 16rem;
    width: 30rem;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 5px 15px -3px rgb(40, 9, 9);
    cursor: pointer;
}
.lofi:hover,
.trending:hover{
    transform: translateY(-4px);
}

.lofi {
    background-color: #604054a6;
}

.trending {
    background-color: #ff9a31c4;
}

.lofi h4,
.trending h4 {
    font-size: 4rem;
    margin: 10px 25px;
    color: #e3b5b5;
    z-index: 1;
    position: absolute;
}

.lofiimg,
.trendingimg {
    height: 13.5rem;
    width: 14.5rem;
    display: flex;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    right: -1rem;
    top: 3rem;
    /* rotate: 15deg; */
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);

}

.lofiimg {
    background-image: url("1366x483-342300-Digital-Art-Lofi-Chill-Bedroom-Raccoon.jpg");
    box-shadow: -10px 10px 51px -2px rgb(34, 34, 34);
}

.trendingimg {
    background-image: url("koukichi-takahashi-fZdX9BW8WDs-unsplash.jpg");
    box-shadow: -10px 10px 51px -2px rgb(255, 0, 0);
}

.lofiimg img,
.trendingimg img {
    height: 1.5rem;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


.active {
    filter: invert(100%) drop-shadow(0px 0px 20px #44d);
}

.lofipl {
    width: 100vw;
    display: none;
    overflow-y: scroll;
}

table.table1 {
    background: #ffffff8a;
    border-radius: 30px;
    padding: 20px 50px;
    margin-top: 8.5rem;
    font-family: Rubik;
    position: absolute;
    top: 0;
    right: 2rem;
}

.table1 td {
    padding: 20px;
}

.table1 td img {
    height: 4rem;
    border-radius: 5rem;
    box-shadow: 0px 3px 15px -3px black;
}

.table1 .plistbtn {
    height: 2rem;
    content: url('play_circle_FILL1_wght400_GRAD0_opsz48.png');
}

#show {
    cursor: pointer;
}

.lofilist {
    font-family: Rubik;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.lofiback {
    width: 25rem;
    padding: 40px;
}

.imgbanner {
    background-image: url('1366x483-342300-Digital-Art-Lofi-Chill-Bedroom-Raccoon.jpg');
    height: 22rem;
    width: 25rem;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 10px 47px 23px #ab5a4e;
    filter: blur(0.5px);
    margin-top: 3rem;
    margin-left: 2rem;
    z-index: -1;
}

.imgbanner img {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 4rem;

}

.lofiback h1 {
    font-size: 45px;
}

.lofiback h1,
.lofiback h2 {
    margin-left: 2rem;
    color: whitesmoke;
    text-shadow: 1px 4px 5px #201717;
    padding-top: 20px;
}

.lofiback h2 {
    font-weight: 300;
    font-size: 20px;
}

#lofibackimg {
    position: absolute;
    width: 100vw;
    filter: blur(15px);
    z-index: -2;
    box-shadow: 0px 8rem 100rem 22rem #9f5a51;
}

.songlist {
    position: absolute;
    right: 2rem;
    width: 43.3rem;
    top: 6.5rem;
    background: #fe7445;
    padding: 5px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 23px 13px 4px #fe7445;
    padding-bottom: 35px;
}

.table1 #tname {
    font-weight: bold;
    width: 30vw;
    display: inline-block;
}

.cardplay {
    height: 32px;
}

.searchbox {
    display: none;
    width: 85.5vw;
    height: 100vh;
    position: relative;
    background-color: black;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.goback1 {
    height: 40px;
    filter: invert(1);
    width: 40px;
    background-color: #7cb7ce;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 30px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 2px 10px 0px #7cb7ce;
}

table#table2 {
    background: #241818;
    border-radius: 30px;
    padding: 20px 50px;
    margin-top: 10px;
    font-family: Rubik;
    display: none;
    width: 33rem;
    position: absolute;
    right: 2.5rem;
    color: whitesmoke;
}

#table2 tbody {

    border-collapse: collapse;

}

#table2 tr {
    box-shadow: 0px 3px 20px -10px black;
    border-radius: 15px;
}

#table2 td {
    padding: 20px;
}

#table2 .pause {
    filter: invert(1);
}

#table2 td img {
    height: 3.5rem;
    border-radius: 5px;
}

#table2 .plistbtn {
    height: 2rem;
    filter: invert(1);
    content: url('play_circle_FILL1_wght400_GRAD0_opsz48.png');
}