* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: rgb(238, 223, 223);
    background-image: url("vista_wallpapers\ \(1\).jpg");
    background-size: cover;
    backdrop-filter: blur(40px);
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: arialRound;
    src: url("fonts/ARLRDBD.TTF") format("truetype");
}
@font-face {
    font-family: Rubik;
    src: url("fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: verela;
    src: url("fonts/VarelaRound-Regular.ttf") format("truetype");
}

.welcome {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: #2f1c1c;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.navbar {
    background: #553131;
    display: flex;
    padding: 20px 20px;
    height: 100vh;
    position: sticky;
    box-shadow: 0 2px 4px -1px rgb(6, 253, 183);
    padding-right: 33px;
    color: white;
    top: 0;
    bottom: 0;
}

.nav {
    font-family: arialRound;

}

.im1 {
    filter: invert(100%);
    height: 30px;
    padding-right: 10px;
}

.logo img {
    height: 80px;
    margin-bottom: 10px;
}

.nav ul li {
    list-style: none;
    display: flex;
    margin: 10px 0px 15px 0px;
    justify-content: left;
    align-items: center;
    font-size: 13px;
}

.nav2 {
    margin-top: 50px;
}

main {
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: rgb(254, 116, 70);
    width: 86vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: sticky;
    top: 0;
}

.b1 {
    display: inline-block;
    width: 48%;
    padding-left: 20px;
}

.b2 {
    display: inline-block;
    width: 50%;

}

.banner ul li {
    list-style: none;
    display: contents;
    list-style: none;
}

.b2 ul {
    display: flex;
    justify-content: flex-end;
}

.button3 {
    padding: 8px 10px 8px 10px;
    background-color: #fefefeb8;
    border: none;
    border-radius: 20px;
    font-family: verela;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0px 3px 10px -1px #c19191;
    margin-right: 20px;
}

.button3 a {
    text-decoration: none;
    color: rgb(32, 30, 30);
}

.home {
    display: flex;
    flex-direction: column;
    font-family: arialRound;
    overflow-y: scroll;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: verela;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 230px;
    margin: 0px 20px;
    height: 270px;
    background-color: #eee8e8b3;
    border-radius: 10px;
    box-shadow: 4px 5px 16px 0px #71717145;
}

.container:hover #cardimg {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    filter: blur(1px);
    transition: ease-in-out .25s;
}


.playbtn {
    transition: ease-in-out .45s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    padding-top: 68%;
    padding-bottom: 28%;
    padding-right: 9%;
    filter: invert(1);
    padding-left: 69%;
    content: url('play_circle_FILL1_wght400_GRAD0_opsz48.png');
    box-shadow: 0px 0px 0px 0px #ffffff00;
    cursor: pointer;
}

.container:hover .playbtn {
    opacity: 1;
}

.container img {
    height: 70%;
    width: max-content;
    border-radius: 7px;
    box-shadow: 4px 5px 10px 5px #71717145;
}

.container p {
    text-shadow: 2px 2px #71717145;
}

.heading {
    float: left;
    width: 86vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
    padding: 0px 0px 0px 0px;
    color: white;
}

.heading ul li {
    list-style: none;
    display: contents;
    list-style: none;
    text-shadow: #353535 1px 2px 4px;
}

.heading h2 {
    margin: 0px 25px 0px 25px;
}

.active {
    filter: invert(100%) drop-shadow(0px 0px 20px #44d);
}

.lofipl{
    width: 86vw;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
table{
    background: #ffffff8a;
    border-radius: 30px;
    padding: 20px 50px;
    margin-top: -150px;
    font-family: Rubik;
}

td{
    padding: 20px;
}
td img{
    height: 4rem;
    border-radius: 5rem;
    box-shadow:  0px 3px 15px -3px black;
}
.plistbtn{
    height: 2rem;
    content: url('icons/play.png');
}
#show{
    cursor: pointer;
}
.lofiback{
    background-image: url('diane-picchiottino-v8BgAb9EaE8-unsplash.jpg');
    height: 55vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 50px 200px 150px #175a62, inset 0px -50px 70px #175a62;
    font-family: Rubik;
    padding: 0px 70px;
}
.lofiback h1{
    padding-top: 20px;
    font-size: 45px;
    color: whitesmoke;
    text-shadow: 1px 4px 5px #201717;;
}
.lofiback h2{
    font-weight: 300;
    font-size: 20px;
    color: #e8e8e8;
    padding-top: 20px;
    text-shadow: 1px 4px 5px #201717;;
}
#tname{
    font-weight: bold;
width: 30vw;
display: inline-block;
}