@media (min-width:300px)and (max-width: 450px) and (-webkit-max-device-pixel-ratio: 4) {
    .welcome {
        height: 95.5vh;
    }

    .welcome img {
        height: 20vh;
    }

    .navbar {
        height: 3rem;
        z-index: 4;
    }

    .logo img {
        height: 35px;
    }

    .nav1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 60vw;
        height: 4vh;
        padding-left: 15px;
    }

}

/* for top nav bar */
@media (min-width:300px)and (max-width: 450px) and (-webkit-max-device-pixel-ratio: 4) {

    html {
        height: -webkit-fill-available;
    }

    body {
        height: -webkit-fill-available;
        height: auto;
        width: 100vw;
        background-image: url("vista_wallpapers.jpg");
        background-size: contain;
    }

    main {
        width: 100vw;
    }

    .home {
        overflow: hidden;
        height: 85vh;
        width: 100vw;
        align-items: baseline;
    }
}

@media (min-width:300px)and (max-width: 450px) and (-webkit-max-device-pixel-ratio: 4) {
    .musicplayer {
        width: 100vw !important;
        display: flex;
        justify-content: end;
        right: 1.5rem !important;
        bottom: 7rem !important;
        z-index: 5;
    }

    .mpcard {
        background-color: rgba(255, 255, 255, 0) !important;
        box-shadow: 0px 0px 0px 0px rgb(255, 228, 228) !important;
    }

    .back0,
    .block {
        height: 5rem !important;
        width: 15rem !important;
        margin-top: 60px;

    }

    .back {
        display: none;
    }
    .back2{
        width: 30px !important;
    }
    .back2,
    .back3 {
        top: -20px !important;
        border-radius: 20px !important;
    }

    .back3 {
        width: 9.3rem !important;
    }

    .disk {
        top: -35px !important;
        width: 75px !important;
        height: 75px !important;
        left: 23px !important;
    }

    .text {
        top: 0 !important;
        height: 60px !important;
        font-size: 7px !important;
        width: 15rem !important;
    }

    .title {
        margin-top: -11px;
        padding-left: 43% !important;
        width: 7.5rem;
        overflow: hidden;
    }

    .song-name {
        height: 24px;
        overflow: hidden;
        width: 180px;
    }

    .artist-name {
        height: 18px;
        width: 180px;
        font-weight: 100;
    }

    .bottom {
        top: 25px !important;
        width: 11rem !important;
    }

    .current-time,
    .song-duration {
        display: none !important;
    }

    .player {
        top: 2.5rem !important;
        justify-content: space-between !important;
        width: 8rem !important;
        right: .5rem;
    }

    .player i {
        margin: 0px 18px 0px 0px !important;
    }

    /* lofi playlist */
    .lofilist {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    #lofibackimg {
        height: 40vh;
    }

    .imgbanner {
        height: 13rem;
        width: 16rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    .imgbanner img {
        height: 3rem !important;
    }

    .lofiback h1,
    .lofiback h2 {
        margin-left: 0rem;
    }

    .lofiback h1 {
        font-size: 35px;
    }

    .lofiback h2 {
        font-size: 15px;
        width: 21rem;
        height: 2.2rem;
        overflow: hidden;
    }

    .songlist {
        position: static !important;
        width: 21.3rem;
        margin: auto;
    }

    .table1 {
        right: 0rem !important;
        margin-top: -1.4rem !important;
        position: static !important;
        padding: 10px 30px !important;
        width: 92vw;
        display: flex;
        margin: auto;
        margin-bottom: 5rem;
    }

    #table2 {
        width: 85vw !important;
        padding: 20px 25px !important;
        font-size: 15px;
        margin-bottom: 15rem;
        margin-top: 2rem !important;
        right: 1rem !important;
    }

    #table2 td img {
        height: 2.5rem;
    }

    #table2 .plistbtn {
        height: 1.5rem !important;
    }

    .goback1 {
        position: absolute;
        right: 20px;
        left: auto;

    }

    #hometab {
        display: none;
    }

    #myInput {
        width: 45vw;
        margin: 0px !important;
    }

    .find {
        top: 0px !important;
        left: 7px !important;
    }

    #table2 .pause {
        height: 1.5rem !important;
    }
}

@media (min-width:300px)and (max-width: 450px) and (-webkit-max-device-pixel-ratio: 4) {
    .container1 {
        height: fit-content;
    }

    .sliderimg1,
    .sliderimg2,
    .sliderimg3 {
        background-size: cover;
        height: 14rem;
    }

    .sliderimg1 p,
    .sliderimg2 p,
    .sliderimg3 p {
        font-size: 15px;
        margin-right: 5rem;
        width: 100vw;
        -webkit-text-stroke: 0.2px black;
    }

    .container {
        width: 90vw;
        height: 30rem;
        flex-direction: column;
        margin: 0px auto;
    }

    .lofi,
    .trending {
        height: 11rem;
        width: 18rem;
    }

    .hometext {
        font-size: 2rem;
        width: 15rem;
        margin-left: 20px;
    }

    .lofi {
        margin-left: -5rem;
    }

    .trending {
        margin-right: -5rem;
    }

    .lofi h4,
    .trending h4 {
        font-size: 2.3rem;
    }

    .lofiimg,
    .trendingimg {
        height: 8.5rem;
        width: 9.5rem;
    }
}