@font-face {
    font-family: verela;
    src: url("fonts/VarelaRound-Regular.ttf") format("truetype");
}
.masterplayer{
    display: none;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
}
.musicplayer {
    position: absolute;
    width: fit-content;
    bottom: 20px;
    right: 20px;
    font-family: verela;
}

.mpcard {
    display: flex;
    width: fit-content;
    background: black;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 6px 13px -5px rgb(255, 228, 228);
}

.back0 {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 330px;
    position: relative;
    border-radius: 20px;
}

.back {
    height: 125px;
    width: inherit;
    background-image: url("");
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}

.back1 {
    height: 125px;
    background-color: #acffd8;
}

.back2 {
    height: 50px;
    width: 40px;
    background-color: #acffd8;
    position: absolute;
    top: 39%;
    border-radius: 50px;
}

.back3 {
    height: 50px;
    width: 200px;
    background-color: #acffd8;
    position: absolute;
    top: 39%;
    border-radius: 50px;
    right: 0;

}

.block {
    position: absolute;
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.disk {
    height: 95px;
    width: 95px;
    position: absolute;
    background-image: url("");
    background-size: cover;
    background-position: center;
    top: 16%;
    left: 39px;
    border-radius: 50%;
    box-shadow: 0px 0px 12px -2px black;
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
}

.disk.play {
    animation-play-state: running;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
.player {
    width: 330px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    top: 225px;
}

.player i {
    margin: 0px 18px 0px 18px;
    height: 25px;
}

.bottom {
    width: 260px;
    position: absolute;
    margin: 35px;
    display: inline;
    top: 145px;
}

.seek-bar {
    width: 100%;
}

.song-duration {
    position: absolute;
    right: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;

}


/* chrome and safari targets */
input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(95, 95, 95);
    height: 0.5rem;
    border-radius: 50px;
    box-shadow: 0px 2px 5px -2px rgb(112, 112, 112);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    background-color: red;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 2px 5px -2px rgb(112, 112, 112);
}

/* firefox targets */
input[type="range"]::-moz-range-track {
    background: rgb(95, 95, 95);
    height: 0.3rem;
    border-radius: 50px;
    box-shadow: 0px 2px 5px -2px rgb(112, 112, 112);
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    background-color: red;
    height: 0.7rem;
    width: 0.7rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 2px 5px -2px rgb(112, 112, 112);
}

input[type="range"]::-moz-range-progress {
    background: rgb(255, 0, 0);
    height: 0.4rem;
    border-radius: 50px;

}
.current-time, .song-duration{
    font-size: 11px;
}

.text {
    display: flex;
    height: 120px;
    width: 330px;
    flex-direction: column;
    bottom: 0;
    position: absolute;
    top: 7rem;
    font-size: 9px;

}

.title {
    display: flex;
    flex-direction: column;
    padding-left: 45%;
}
#song-name{
    -moz-animation: marquee 10s linear infinite;
    -webkit-animation: marquee 10s linear infinite;
    animation: marquee 10s linear infinite;
}
@-moz-keyframes morquee{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@-webkit-keyframes morquee{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes morquee{
    0%{
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}